#u2017-4,#u2303-4,#u1924-12,#u1927-4,#u1926-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1922-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2273-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1961-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1931-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2072-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2321-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1958-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2323-4,#u2324-6,#u1964-6,#u2326-4,#u2327-8,#u2329-4,#u2330-6,#u2259-4,#u2337-4,#u2336-6,#u2332-4,#u2334-5,#u2339-4,#u2341-6,#u2340-4,#u2343-7,#u2345-4,#u2346-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u1925-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

