#u3696-4,#u3954-4,#u3603-12,#u3606-4,#u3605-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3601-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4559-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3952-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4052-4,#u4054-4,#u4053-4,#u4055-4,#u4103-4,#u4104-4,#u4105-4,#u4160-4,#u4159-4,#u4189-4,#u4139-4,#u4335-4,#u3981-4,#u3983-4,#u3982-4,#u3984-4,#u3643-6,#u3986-4,#u4340-4,#u4343-4,#u4385-4,#u4341-4,#u4342-4,#u4503-4,#u4505-4,#u4502-4,#u4504-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3604-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

