#u5981-4,#u6067-4,#u6055-12,#u5989-4,#u6053-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u6051-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u6078-4,#u6031-4,#u6080-4,#u6081-4,#u6029-4,#u6082-4,#u6083-4,#u6084-4,#u6085-4,#u6087-4,#u6088-4,#u6011-5,#u6089-4,#u6027-4,#u5982-4,#u6054-4,#u6057-4,#u6056-4,#u5986-6,#u6107-4,#u6109-4,#u6108-4,#u6110-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u6050-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

