#u3489-4,#u3491-4,#u3490-4,#u3492-6,#u3404-4,#u3529-4,#u3543-4,#u3539-4,#u3555-4,#u3533-4,#u3553-4,#u3545-4,#u3541-4,#u3531-4,#u3537-4,#u3547-4,#u3549-4,#u3551-4,#u3535-4,#u3527-4,#u3494-4,#u3495-4,#u3496-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u3478-4,#u3487-4,#u3401-12,#u3476-4,#u3475-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3470-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3473-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3466-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3402-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3403-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u3472-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

