#u4640-4,#u4750-4,#u4566-12,#u4639-4,#u4567-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4571-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4575-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4574-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4694-4,#u4692-4,#u4687-4,#u4693-4,#u4665-4,#u4666-4,#u4664-4,#u4680-4,#u4681-4,#u4672-4,#u4675-4,#u4660-4,#u4752-4,#u4753-4,#u4754-4,#u4755-4,#u4704-6,#u4723-4,#u4756-4,#u4757-4,#u4703-4,#u4759-4,#u4760-4,#u4761-4,#u4763-4,#u4565-4,#u4762-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4572-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

