#u5589-4,#u5751-4,#u5700-12,#u5640-4,#u5704-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5753-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5942-4,#u5941-4,#u5943-4,#u5944-4,#u5945-4,#u5946-4,#u5947-4,#u5948-4,#u5949-4,#u5950-4,#u5951-4,#u5952-6,#u5953-4,#u5954-4,#u5707-4,#u5754-4,#u5618-4,#u5711-4,#u5959-6,#u6095-4,#u6097-4,#u6096-4,#u6098-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5619-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

