#u492-4,#u484-4,#u486-4,#u490-4,#u494-4,#u488-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u499-4,#u505-4,#u506-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u466-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u502-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u503-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u500-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u504-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u507-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u501-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

