#u551-4,#u557-4,#u558-4,#u604-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u605-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u606-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u607-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u608-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u609-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u610-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u616-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u615-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u944-4,#u568-4,#u567-14,#u582-4,#u587-6,#u569-4,#u570-9,#u571-9,#u572-4,#u6136-17,#u574-13,#u573-11,#u583-4,#u588-11,#u589-11,#u584-4,#u590-6,#u591-6,#u592-6,#u585-4,#u593-11,#u594-11,#u595-11,#u596-11,#u586-4,#u597-6,#u575-4,#u576-11,#u577-11,#u578-11,#u579-11,#u580-11,#u581-11
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u553-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

