#u684-4,#u743-4,#u705-4,#u669-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u679-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u690-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u711-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u680-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u702-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u712-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u673-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u704-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u694-6,#u745-4,#u744-14,#u749-4,#u750-6,#u746-4,#u747-9,#u748-10,#u752-4,#u6133-19,#u754-13,#u753-11,#u755-4,#u757-9,#u758-11,#u756-4,#u759-4,#u760-4,#u761-4,#u771-4,#u773-11,#u774-12,#u775-11,#u776-12,#u772-4,#u777-6,#u764-4,#u765-11,#u766-12,#u767-10,#u768-11,#u769-11,#u770-11
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u682-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

