#u5164-4,#u5166-4,#u5168-4,#u5170-4,#u5162-4,#u5233-4,#u5237-4,#u5231-4,#u5241-4,#u5251-4,#u5245-4,#u5243-4,#u5247-4,#u5235-4,#u5253-4,#u5249-4,#u5239-4,#u5200-4,#u5203-4,#u5199-6,#u5188-4,#u5194-6,#u5178-12,#u5189-4,#u5257-8,#u5255-10,#u5185-4,#u5196-4,#u5267-6,#u5268-4,#u5179-4,#u5143-10,#u5144-10,#u5186-12,#u5202-4,#u5175-12,#u5192-4,#u5181-10,#u5195-8,#u5145-10,#u5176-4,#u5177-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5190-12,#u5258-4,#u5197-4,#u5198-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5184-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5266-4,#u5187-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

