#u3068-4,#u3071-4,#u3069-4,#u3072-8,#u2729-4,#u3251-4,#u3277-4,#u3265-4,#u3275-4,#u3269-4,#u3257-4,#u3261-4,#u3259-4,#u3263-4,#u3267-4,#u3249-4,#u3271-4,#u3273-4,#u3253-4,#u3255-4,#u3223-4,#u3224-4,#u3225-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u2782-4,#u3040-4,#u3067-12,#u2692-4,#u2691-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2696-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2687-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2837-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2726-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2723-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u2690-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

