#u981-4,#u989-4,#u1042-12,#u1002-4,#u976-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u977-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1894-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1009-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u970-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1001-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1895-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u1022-4,#u1018-6,#u992-6,#u1023-4,#u1025-8,#u1024-4,#u1026-8,#u1414-4,#u1043-4,#u1044-7,#u1039-4,#u1036-5,#u1029-4,#u1032-6,#u1030-4,#u1430-6,#u1031-4,#u1033-10
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u979-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

