#u5089-4,#u5085-4,#u5087-4,#u5083-4,#u5091-4,#u4961-4,#u4941-4,#u4951-4,#u4955-4,#u4959-4,#u4949-4,#u4945-4,#u4947-4,#u4943-4,#u4963-4,#u4953-4,#u4957-4,#u4897-4,#u4898-4,#u4891-6,#u5062-4,#u4904-6,#u4905-12,#u4902-4,#u4910-8,#u4907-10,#u5056-4,#u5057-4,#u5058-6,#u5059-4,#u4903-4,#u4912-10,#u4913-10,#u4915-12,#u4901-4,#u4906-12,#u4900-4,#u4909-10,#u4911-8,#u4914-10,#u4899-4,#u4908-8
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u4812-12,#u4827-4,#u4819-4,#u4811-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4889-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u4815-4,#u4888-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

