#u5393-4,#u5336-4,#u5374-12,#u5381-4,#u5382-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5368-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5399-4,#u5400-4,#u5401-4,#u5383-6,#u5403-4,#u5402-6,#u5404-4,#u5405-4,#u5434-4,#u5436-4,#u5440-4,#u5432-4,#u5438-4,#u5458-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5371-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

