#u5513-4,#u5568-4,#u5510-12,#u5502-4,#u5507-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5546-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

#u5574-4,#u5575-4,#u5576-4,#u5503-6,#u5579-4,#u5582-4,#u5580-4,#u5581-4,#u5539-4,#u5535-4,#u5537-4,#u5531-4,#u5533-4,#u5511-4
{
	font-family: source-sans-pro-n3, sans-serif;
}

#u5514-4
{
	font-family: source-sans-pro-n2, sans-serif;
}

