.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 1400px;
	min-height: 0px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	padding-bottom: 767px;
	margin-top: -1px;
}

#a
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: -19px;
	left: -22px;
}

#u2694
{
	z-index: 124;
	width: 254px;
	height: 767px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

#u2782-4
{
	z-index: 125;
	width: 248px;
	min-height: 56px;
	text-align: right;
	font-size: 46px;
	color: #FFFFFF;
	line-height: 55px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 26px;
	left: 0px;
}

#u3040-4
{
	z-index: 129;
	width: 247px;
	min-height: 24px;
	text-align: right;
	font-size: 20px;
	color: #7F7F7F;
	line-height: 24px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: fixed;
	bottom: 9px;
	left: 0px;
}

#u3068-4
{
	z-index: 182;
	width: 204px;
	text-align: right;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 482px;
	left: 25px;
}

#u3071-4
{
	z-index: 190;
	width: 204px;
	min-height: 160px;
	text-align: justify;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 322px;
	left: 25px;
}

#u3069-4
{
	z-index: 186;
	width: 204px;
	min-height: 18px;
	text-align: right;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 291px;
	left: 25px;
}

#u3072-8
{
	z-index: 194;
	width: 204px;
	min-height: 204px;
	text-align: justify;
	color: #FFFFFF;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 87px;
	left: 25px;
}

#u2729-4
{
	z-index: 166;
	width: 211px;
	min-height: 81px;
	text-align: left;
	font-size: 35px;
	color: #FFFFFF;
	line-height: 42px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 589px;
	left: 36px;
}

#u3067-12
{
	z-index: 170;
	width: 98px;
	min-height: 70px;
	text-align: left;
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 519px;
	left: 36px;
}

#pamphletu3226
{
	z-index: 16;
	width: 0.01px;
	height: 449px;
	padding-bottom: 145px;
	position: fixed;
	bottom: 87px;
	left: 255px;
}

#u3231
{
	z-index: 17;
	width: 430px;
	position: relative;
	margin-right: -10000px;
	margin-top: 146px;
	left: 65px;
}

#u3238
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	background: transparent url("../images/1plantaarq-u3238-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3238:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3234
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	left: 88px;
	background: transparent url("../images/2elevaciones-u3234-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3234:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3244
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	left: 176px;
	background: transparent url("../images/5cortes-u3244-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3244:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3240
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	left: 264px;
	background: transparent url("../images/3isometrico-u3240-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3240:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3233
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	left: 352px;
	background: transparent url("../images/4isometrico-u3233-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3233:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3245
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 125px;
	background: transparent url("../images/6plantamec-u3245-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3245:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3242
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 125px;
	left: 88px;
	background: transparent url("../images/7plantamec2-u3242-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3242:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3243
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 125px;
	left: 176px;
	background: transparent url("../images/8vistapot-u3243-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3243:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3237
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 125px;
	left: 264px;
	background: transparent url("../images/9vistaneg-u3237-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3237:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3246
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 125px;
	left: 352px;
	background: transparent url("../images/15calculo-u3246-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3246:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3235
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 250px;
	background: transparent url("../images/12plantaelec-u3235-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3235:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3232
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 250px;
	left: 88px;
	background: transparent url("../images/13isometricotom-u3232-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3232:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3241
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 250px;
	left: 176px;
	background: transparent url("../images/14isometricoilum-u3241-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3241:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3239
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 250px;
	left: 264px;
	background: transparent url("../images/10plantaac-u3239-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3239:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3236
{
	position: absolute;
	width: 78px;
	height: 52px;
	border-style: none;
	border-color: transparent;
	top: 250px;
	left: 352px;
	background: transparent url("../images/11isometricoac-u3236-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3236:hover
{
	background-repeat: no-repeat;
	background-position: center center;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3238.PamphletThumbSelected,#u3234.PamphletThumbSelected,#u3244.PamphletThumbSelected,#u3240.PamphletThumbSelected,#u3233.PamphletThumbSelected,#u3245.PamphletThumbSelected,#u3242.PamphletThumbSelected,#u3243.PamphletThumbSelected,#u3237.PamphletThumbSelected,#u3246.PamphletThumbSelected,#u3235.PamphletThumbSelected,#u3232.PamphletThumbSelected,#u3241.PamphletThumbSelected,#u3239.PamphletThumbSelected,#u3236.PamphletThumbSelected
{
	background-repeat: no-repeat;
	background-position: center center;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin: 0px;
	background-size: contain !important;
}

#u3247
{
	position: absolute;
	width: 912px;
}

#u3247popup
{
	z-index: 33;
}

#u3250
{
	z-index: 34;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/1plantaarq-u3250-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3251-4
{
	z-index: 35;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3276
{
	z-index: 39;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/2elevaciones-u3276-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3277-4
{
	z-index: 40;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3264
{
	z-index: 44;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/5cortes-u3264-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3265-4
{
	z-index: 45;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3274
{
	z-index: 49;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/3isometrico-u3274-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3275-4
{
	z-index: 50;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3268
{
	z-index: 54;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/4isometrico-u3268-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3269-4
{
	z-index: 55;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3256
{
	z-index: 59;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/6plantamec-u3256-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3257-4
{
	z-index: 60;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3260
{
	z-index: 64;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/7plantamec2-u3260-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3261-4
{
	z-index: 65;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3258
{
	z-index: 69;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/8vistapot-u3258-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3259-4
{
	z-index: 70;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3262
{
	z-index: 74;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/9vistaneg-u3262-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3263-4
{
	z-index: 75;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3266
{
	z-index: 79;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/15calculo-u3266-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3267-4
{
	z-index: 80;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3248
{
	z-index: 84;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/12plantaelec-u3248-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3249-4
{
	z-index: 85;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3270
{
	z-index: 89;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/13isometricotom-u3270-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3271-4
{
	z-index: 90;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3272
{
	z-index: 94;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/14isometricoilum-u3272-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3273-4
{
	z-index: 95;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3252
{
	z-index: 99;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/10plantaac-u3252-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3253-4
{
	z-index: 100;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3254
{
	z-index: 104;
	width: 912px;
	height: 594px;
	border-style: none;
	border-color: transparent;
	margin-right: -10000px;
	position: relative;
	background: transparent url("../images/11isometricoac-u3254-fr.jpg") no-repeat center center;
	background-size: contain !important;
}

#u3255-4
{
	z-index: 105;
	width: 447px;
	text-align: center;
	color: #000000;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: relative;
	margin-right: -10000px;
	margin-top: 577px;
	left: 249px;
}

#u3227
{
	position: absolute;
	width: 20px;
	top: 561px;
	left: 5px;
}

#u3228-4
{
	z-index: 110;
	width: 20px;
	min-height: 20px;
	text-align: center;
	color: #000000;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3283
{
	position: absolute;
	width: 20px;
	top: 561px;
	left: 887px;
}

#u3284-4
{
	z-index: 115;
	width: 20px;
	min-height: 20px;
	text-align: center;
	color: #000000;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
}

#u3229
{
	position: absolute;
	width: 30px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 4px;
	left: 880px;
}

#u3229:hover
{
	border-color: #6B6B6B;
	margin: 0px;
}

#u3230-4
{
	z-index: 120;
	width: 20px;
	min-height: 20px;
	text-align: center;
	color: #000000;
	line-height: 20px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 6px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#u3375
{
	z-index: 2;
	width: 1146px;
	position: fixed;
	bottom: 1px;
	left: 255px;
}

#u3223-4
{
	z-index: 4;
	width: 174px;
	text-align: left;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 550px;
	left: 300px;
}

#u3224-4
{
	z-index: 8;
	width: 200px;
	text-align: left;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 425px;
	left: 300px;
}

#u3225-4
{
	z-index: 12;
	width: 200px;
	text-align: left;
	color: #7F7F7F;
	font-family: source-sans-pro, sans-serif;
	font-weight: 300;
	position: fixed;
	bottom: 300px;
	left: 300px;
}

#u2692-4
{
	z-index: 137;
	width: 83px;
	min-height: 1px;
	text-align: center;
	font-size: 12px;
	color: #7F7F7F;
	line-height: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 12px;
	left: 307px;
}

#u2692-2
{
	padding-top: 50px;
}

#u2691-4
{
	z-index: 145;
	width: 32px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 25px;
	left: 428px;
}

#u2691-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2691-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2696-4
{
	z-index: 141;
	width: 31px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 35px;
	left: 580px;
}

#u2691-4.MuseLinkActive,#u2696-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2696-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2687-4
{
	z-index: 157;
	width: 67px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 25px;
	left: 580px;
}

#u2696-4.MuseLinkActive,#u2687-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2687-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2837-4
{
	z-index: 161;
	width: 70px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 15px;
	left: 580px;
}

#u2687-4.MuseLinkActive,#u2837-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2837-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2726-4
{
	z-index: 149;
	width: 83px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 25px;
	left: 748px;
}

#u2837-4.MuseLinkActive,#u2726-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2726-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2723-4
{
	z-index: 153;
	width: 62px;
	min-height: 1px;
	background-color: transparent;
	text-align: left;
	font-size: 11px;
	color: #7F7F7F;
	line-height: 13px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	position: fixed;
	bottom: 25px;
	left: 947px;
}

#u2726-4.MuseLinkActive,#u2723-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2723-4.MuseLinkActive
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 1px;
	margin: 0px;
}

#u2723-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u2691-4.MuseLinkActive p,#u2696-4.MuseLinkActive p,#u2687-4.MuseLinkActive p,#u2837-4.MuseLinkActive p,#u2726-4.MuseLinkActive p,#u2723-4.MuseLinkActive p
{
	color: #FFFFFF;
	visibility: inherit;
	padding-top: 0px;
}

#u2690-4
{
	z-index: 133;
	width: 41px;
	min-height: 11px;
	background-color: transparent;
	text-align: right;
	font-size: 10px;
	color: #7F7F7F;
	line-height: 12px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 200;
	font-style: italic;
	position: fixed;
	bottom: 12px;
	right: 10px;
}

#u2690-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 11px;
	margin: 0px;
}

#u2690-4:hover p
{
	color: #FFFFFF;
	visibility: inherit;
}

#page .verticalspacer
{
	clear: both;
}

